<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ex</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>name</param-name>
    <param-value>LEE HYE MI</param-value>
  </context-param>
  <listener>
    <listener-class>com.javalac.ex.ServletL</listener-class>
  </listener>
  <error-page>
    <error-code>500</error-code>
    <location>/errorPage.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>BFrontController</display-name>
    <servlet-name>BFrontController</servlet-name>
    <servlet-class>frontcontroller.BFrontController_</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BFrontController</servlet-name>
    <url-pattern>/BFrontController</url-pattern>
  </servlet-mapping>
</web-app>